spack:
  specs:
  # *_compiler is defined in the .github/build-ci/data/standard.json file
  - access-mocsy@git.{{ ref }}
  packages:
    gcc:
      require:
      - '@{{ gcc_compiler_version }}'
    all:
      require:
      - '%access_gcc'
      - 'target=x86_64'
  concretizer:
    unify: false
  view: false
